$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import 'font-awesome.scss';

// endbower
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; 
}

html, body{
  margin: 0; 
  padding: 0; 
  float: left; 
  width: 100%; 
  height: 100%; 
  padding: 0; 
  margin: 0;
  font-family: 'Source sans Pro','Oxygen', sans-serif;
}
body{
  background: #222;
  overflow: hidden;
}

.scene{
  width: 100%; 
  height: 100%; 
  float: left; 
  display: block; 
  background-size: cover;  
  font-family: 'Source sans Pro','Oxygen', sans-serif;
  @include centered;

  transform:translate(-50%, -50%) scale(1.1);
  transition: background-position .4s linear;



  .scene__content{

    color: #fff;
    width: 80%; 
    height: 50%;
    max-height: 320px;
    @include centered;

    transform:translate(-50%, -50%) scale(.8);

    text-align: center;


    h1{
      a{
        color: inherit;
        margin: 0 2em;
      }
      font-size: 2em;
      padding: 0; 
      margin: 0;
      @include centered;
      position: relative;
      margin-top: -2em;
      margin-bottom: 4em;
      width:100%;
      text-transform: uppercase;
      text-shadow: -2px 2px 0 rgba(black, .3);
      font-family: 'Source sans Pro','Oxygen', sans-serif;
      font-weight: bold;
      opacity: 0;
      animation: appearFade 1s ease;

      &:nth-child(2){
        animation: appearFade 1s ease .5s;
      } 

    }
  }

  .scene__links{
    font-size: 2em;
    padding: 0; 
    margin: 0;
    @include centered;
    position: relative;
    margin-top: -2em;
    margin-bottom: 4em;
    width:100%;
    text-transform: uppercase;
    text-shadow: -2px 2px 0 rgba(black, .3);
    font-family: 'Source sans Pro','Oxygen', sans-serif;
    font-weight: bold;
    opacity: 0;
    animation: appearFade 1s ease 1s;

    a{
      color: inherit;
      margin: 0 2em;

      opacity: .85;

      &:hover{
        opacity: 1;
      }
    }
  }
}


@keyframes appearFade{
  0%{ 
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-1em) ;
  }
  100%{ 
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
}